*,
*::after,
*::before {
  /* implies on all the html elements */
  margin: 0px;
  padding: 0;
  /*box-sizing: border-box; /* getting rid of unnessecery defaults */
  box-sizing: inherit;
  /*from body*/ }

/*for font size declaration*/
html {
  font-size: 62.5%;
  /*use this instead of px . default is 16 px 62.5% of that is 10px. */
  /*we are using rem that means times. changing 1.6rem means 1.6 timse 10px here. meaning 16px*/ }

body {
  box-sizing: border-box;
  /*from * we took . now we will inherit it there.*/ }

/*animetions*/
@keyframes moveInLeft {
  /*browser can only animate transform and opacity*/
  0% {
    /*at the start*/
    opacity: 0;
    /*invisible*/
    transform: translate(-10rem);
    /*moved to left*/ }
  /* 60% {
    transform: rotate(120deg);
  } play around with it as much as you like! */
  80% {
    opacity: 0.8;
    transform: translate(1rem);
    /*tips a bit to right then comes back!*/ }
  100% {
    /*at finish*/
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  /*browser can only animate transform and opacity*/
  0% {
    /*at the start*/
    opacity: 0;
    /*invisible*/
    transform: translate(10rem);
    /*moved to right*/ }
  80% {
    opacity: 0.8;
    transform: translate(-1rem); }
  100% {
    /*at finish*/
    opacity: 1;
    transform: translate(0);
    /*original position*/ } }

@keyframes moveInButton {
  /*browser can only animate transform and opacity*/
  0% {
    /*at the start*/
    opacity: 0;
    /*invisible*/
    transform: translateY(3rem);
    /*moved to bottom*/ }
  80% {
    opacity: 0.8;
    transform: translateY(-1rem); }
  100% {
    /*at finish*/
    opacity: 1;
    transform: translateY(0);
    /*original position*/ } }

body {
  font-family: "lato", sans-serif;
  /* all related to font should go to body*/
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  /*1.7 times bigger*/
  color: #777;
  padding: 3rem;
  /*put a padding around the whole body*/ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*removes the shake from the animation*/
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /*puts it on top of other. block takes whole width!*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /*adds the width!*/
    /*animation*/
    animation-name: moveInLeft;
    /*calling the animation*/
    animation-duration: 1s;
    /*total time of the animation*/
    /* 
  animation-delay: 3s; applying this first it'll wait 3s
  animation-iteration-count: 3; how many times the animation should happen
  animation-timing-function: ease-in; will def the timing of the animation. like for ease-in it'll start slow and go fast! check google for more
  */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    /*density of font*/
    letter-spacing: 1.75rem;
    /*animation*/
    animation: moveInRight 1s ease-out;
    /*let CSS find out the rest*/ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tartiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  /*more pseudo elements*/ }
  .btn:link, .btn:visited {
    /*pseudo class. State of button selector. configures the special type (here the button is a link:for links: site , visit: another click!)*/
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /*leftright topbottom : 4 nums for four side*/
    display: inline-block;
    /*to seperate it from other lines*/
    border-radius: 10rem;
    /*making the border round*/
    position: relative;
    /*for after effect*/
    font-size: 1.6rem;
    /*animation*/
    transition: all 0.2s;
    /*must be added to main class. has effect on all changes of it*/ }
  .btn:hover {
    transform: translateY(-3px);
    /*popup effect when hovered*/
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
    /*x y blurr color .black shadow with 20% opacity*/ }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.7);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white:after {
      background-color: #fff; }
  .btn:after {
    /*directly inherits from button prop*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    /*should be relative to button*/
    top: 0;
    left: 0;
    z-index: -1;
    /*a white sheet behind the button*/
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInButton 1s ease-out 0.75s;
    animation-fill-mode: backwards;
    /*this will auto set the zero percent property prior!*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 2rem;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem) rotate(5deg);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
  position: relative; }
  .card__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: url(../img/nat-5.jpg); }
    .card__picture--3 {
      background-image: url(../img/nat-5.jpg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

.header {
  height: 95vh;
  /* the height will always 95% of the view port height */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.795), rgba(40, 180, 133, 0.795)), url(../img/hero.jpg);
  background-size: cover;
  /*fit into the view port*/
  background-position: top;
  /*top of the image stays top*/
  position: relative;
  /*cuz this is the parent of the child logo*/
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*shape of the bg with co-ordinates. There is a clip path maker online*/ }
  .header__logo-box {
    position: absolute;
    /*position of parent should be relative*/
    top: 4rem;
    /*from the parent element*/
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    /*logo height. width auto*/ }
  .header__text-box {
    position: absolute;
    top: 40%;
    /*of the parent element*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*shifts 50% of the elements height left and up*/
    text-align: center;
    /*mainly to centerise the button*/ }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.795), rgba(40, 180, 133, 0.795)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

/*module 3*/
/*adding new font size from module 3*/
/*changed the code into BEN build!*/
/*module 4 completed in code-pen*/
/*module 5*/
/*converting all css into sass*/
/*animetions*/
@media (max-width: 800px) {
  html {
    font-size: 48%; } }

@media (max-width: 600px) {
  html {
    font-size: 40%; } }
